.loginContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    .loginText {
        padding-bottom: 16px;
        font-size: 30px;
    }
    button {
        width: 150px;
    }
}