.container{
    .header{
        height: 48px;
       
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 36px;
        width: 70%;
        margin: 30px auto;
        margin-bottom: 0px;
    }
}